@let(attrs = $props.merge({
    class: ["font-montserrat","font-bold","text-white","flex","justify-center","items-center","rounded-lg","border-2","border-emerald-600","bg-gradient-to-br","from-emerald-500","to-emerald-600"]
}).toAttrs())

<div {{ attrs }}>
    SC
</div>
